
@{
    ViewData["Title"] = "No Content to SHOW";
}
<div class="row">
    <div class="col-12 padding0">
        <img src="~/images/nocontent.jpg" style="width: 100%;" />
    </div>
</div>
<h1 style="text-align: center">Sorry! There is No Content to SHOW at this time!</h1>
<div class="row">
    <div class="col-12">
        <p style="text-align: center">Please check back later....</p>
    </div>
</div>
<div class="row">
    <div class="col-12"><h4 style="text-align: center;"><strong>@Html.ActionLink("Go back", "Index", "Home")</strong></h4></div>
</div>


