@page
@model blog.Areas.Identity.Pages.Account.BlockedAccountModel
@{
}
<div class="banner-container">
    <h1 class="banner-text-container margin15 txtaligncenter"><span class="banner-text">Account is blocked</span></h1>
    <img src="~/images/delete.jpg" class="fullwidth" />
</div>

<div class="row">
    <div class="col-12">
        this account has been blocked from the platform. 
    </div>
</div>