@page
@model blog.Areas.Identity.Pages.Account.CodeResendModel
@{
}


<div class="banner-container">
    <h1 class="banner-text-container margin15 txtaligncenter"><span class="banner-text">New confirmation code sent</span></h1>
    <img src="~/images/member_index.jpg" class="fullwidth" />
</div>
<div></div>

<div class="row">
    <div class="col-12">
        We have resent you a confirmation code.....
    </div>
</div>