@page
@model blog.Areas.Identity.Pages.Account.NewMemberModel
@{
}

    <div class="banner-container">
        <h1 class="banner-text-container margin15 txtaligncenter"><span class="banner-text">New account creation</span></h1>
        <img src="~/images/sunset.jpg" class="fullwidth" />
    </div>

<div class="row">
    <div class="col-12 paddingTop15">
        <p>Hello @ViewData["Fullname"] <br /><br />
        Thank you for joining aboudrame community. An online platform dedicate to computer programmers to share ideas, issues and solutions. <br />
        You must confirm your email address prior to log in. <br />
        An automate email has been sent to your inbox at <a style="background-color: inherit;" href='mailto:@ViewData["Email"]' >@ViewData["Email"]</a>
        </p>
        <p>
            After you verify the email address, please go ahead and login to your account <a style="background-color: inherit;" class="paddingRight0_" target="_blank" href="/member/index">here</a>.
        </p>
        <p>
            If you have any questions, you can get back us at <a style="background-color: inherit;" href="mailto:webmaster@aboudrame.com" >webmaster@aboudrame.com</a>
        </p>
    </div>
</div>
