@page
@model blog.Areas.Identity.Pages.Account.testModel
@{
}
<!doctype html>

<title>CodeMirror: Selection Marking Demo</title>
<meta charset="utf-8" />
<link rel=stylesheet href="~/js/codemirror/doc/docs.css">
<script src="~/lib/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="~/js/codemirror/lib/codemirror.css">
<script src="~/js/codemirror/lib/codemirror.js"></script>
<script src="~/js/codemirror/addon/search/searchcursor.js"></script>
<script src="~/js/codemirror/addon/selection/mark-selection.js"></script>
<style>
    .CodeMirror {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .CodeMirror-selected {
        background-color: blue !important;
    }

    .CodeMirror-selectedtext {
        color: white;
    }

    .styled-background {
        background-color: #ff7;
    }
</style>
<div id=nav>
    <a href="https://codemirror.net"><h1>CodeMirror</h1><img id=logo src="~/js/codemirror/doc/logo.png"></a>

    <ul>
        <li><a href="~/js/codemirror/index.html">Home</a>
        <li><a href="~/js/codemirror/doc/manual.html">Manual</a>
        <li><a href="https://github.com/codemirror/codemirror">Code</a>
    </ul>
    <ul>
        <li><a class=active href="#">Selection Marking</a>
    </ul>
</div>

<article>
    <h2>Selection Marking Demo</h2>
    <form>
        <textarea id="code" name="code">
Select something from here. You'll see that the selection's foreground
color changes to white! Since, by default, CodeMirror only puts an
independent "marker" layer behind the text, you'll need something like
this to change its colour.

Also notice that turning this addon on (with the default style) allows
you to safely give text a background color without screwing up the
visibility of the selection.</textarea>
    </form>
    <input type="button" value="highlight" class="highlight" />
    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            lineNumbers: true,
            styleSelectedText: true
        });

        editor.markText({ line: 6, ch: 26 }, { line: 6, ch: 42 }, { className: "styled-background" });
        $(".CodeMirror").off("mouseleave").on("mouseleave", function () {
            alert(x.line);
        });

        $(".highlight").off("click").on("click", function () {
            //var x = document.getSelection();
            //var y = x.getRangeAt(0);
            //alert("x = " + x + "\n" + "y = " + y);

            let ranges = [];
            let sel = window.getSelection();
            var x = $('.CodeMirror').get(0).CodeMirror.getSelection();
            

            for (let i = 0; i < sel.rangeCount; i++) {
                ranges[i] = sel.getRangeAt(i);
                $(document).contents().filter(function () {
                   // alert(this.nodeType + "\n" + x);
                    if ($(this).nodeType == 3) {
                       // alert(5);
                       // alert(this.nodeValue);
                    }
                });

                 //.replaceWith($('<span class="styled-background">' + ranges[i] + '</span>'));
               // alert(1);

            }
        });
    </script>

    <p>Simple addon to easily mark (and style) selected text. <a href="~/js/codemirror/doc/manual.html#addon_mark-selection">Docs</a>.</p>

</article>