@page

@model blog.Areas.Identity.Pages.Account.UnconfirmedEmailModel
@{
}

<div class="banner-container">
    <h1 class="banner-text-container margin15 txtaligncenter"><span class="banner-text">Unconfirmed Email address</span></h1>
    <img src="~/images/sunset.jpg" class="fullwidth" />
</div>

<div class="row">
    <div class="col-12 paddingTop15">
        <p>
            Your email address has NOT been confirmed yet. <br />
        </p>
        <p>
            Please confirm your registered email address <span><b>@ViewData["Email"]</b></span> by clicking on the confirmation link included in the email that was sent to you.
        </p>
        <form method="post">
            <p>
                If you didn't receive the code or have lost it, you can request new code here. The previous code will be invalidated.
            </p>
            <table>
                <tr>
                    <td class="txtalignright">Confirm the email address:</td>
                    <td><input type="email" value="@Model.ConfirmEmailAddress"  name="ConfirmEmailAddress" /></td>
                </tr>
            </table>
            <input type="hidden" value='@ViewData["Email"]' name="RegisteredEmailAddress" />
            <input type="submit" value="Request new account confirmation code" /> 
        </form>
    </div>
</div>