@page
@model blog.Areas.Identity.Pages.Account.UnknownUserModel
@{
}

<div class="banner-container">
    <h1 class="banner-text-container margin15 txtaligncenter"><span class="banner-text">Blog Details</span></h1>
    <img src="~/images/blog_details.jpg" class="fullwidth" />
</div>

<div class="row">
    <div class="col-12">
        This user is unknown. Please make sure the email address is corrected and try again.
    </div>
</div>