@model blog.ViewModels.RegisterCommentViewModel

@{
    ViewData["Title"] = "Comment";
}

<h1>Comment</h1>

<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Comment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BlogBody" class="control-label"></label>
                <pre><textarea asp-for="BlogBody" class="form-control"></textarea></pre>
                <span asp-validation-for="BlogBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogHTML" class="control-label"></label>
                <pre><textarea asp-for="BlogHTML" class="form-control"></textarea></pre>
                <span asp-validation-for="BlogHTML" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogCSS" class="control-label"></label>
                <pre><textarea asp-for="BlogCSS" class="form-control"></textarea></pre>
                <span asp-validation-for="BlogCSS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogJavaScript" class="control-label"></label>
                <pre><textarea asp-for="BlogJavaScript" class="form-control"></textarea></pre>
                <span asp-validation-for="BlogJavaScript" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentBody" class="control-label"></label>
                <pre><textarea asp-for="CommentBody" class="form-control"></textarea></pre>
                <span asp-validation-for="CommentBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentHTML" class="control-label"></label>
                <pre><textarea asp-for="CommentHTML" class="form-control"></textarea></pre>
                <span asp-validation-for="CommentHTML" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentCSS" class="control-label"></label>
                <pre><textarea asp-for="CommentCSS" class="form-control"></textarea></pre>
                <span asp-validation-for="CommentCSS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentJavaScript" class="control-label"></label>
                <pre><textarea asp-for="CommentJavaScript" class="form-control"></textarea> </pre>
                <span asp-validation-for="CommentJavaScript" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
