@model blog.Models.Blog

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-12" style="padding: 0;">
        <img src="~/images/sunset.jpg" style="width: 100%;" />
    </div>
</div>
<h1>Create a new post</h1>
<hr />


<form asp-action="Create">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Author" class="form-control" value="@User.Identity.Name" />
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Body" class="control-label"></label>
                @await Html.PartialAsync("_CodeInstructionPartial")
                <textarea asp-for="Body" class="form-control get-preview"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group create-preview preview">
                <h4 style="text-align: center;">PREVIEW</h4>
                <div class="preview-container">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.ActionLink("Back to List", "Index", "Member", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-4 txtaligncenter" >
            @Html.ActionLink("Test The Code", "CodeTester", "CodeEditor",null, new {@class="btn btn-primary"})
        </div>
        <div class="form-group col-md-4 submit">
            <input type="submit" value="Post a blog" class="btn btn-primary submit" />
        </div>
    </div>
</form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}