@model blog.Models.Blog

@{
    ViewData["Title"] = "Create";
}


<div class="banner-container">
    <h1 class="banner-text-container margin15 txtaligncenter"><span class="banner-text">Create a new post</span></h1>
        <img src="~/images/sunset.jpg" class="fullwidth" />
</div>

<form asp-action="Create">
    <div class="row">
            <div asp-validation-summary="All" class="col-12 text-danger"></div>
            <div class="col-12 form-group">
                <input type="hidden" asp-for="Author" class="form-control" />
            </div>
            <div class="col-12 form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-12 form-group">

                <label asp-for="Body" class="control-label"></label>
                @await Html.PartialAsync("_CodeInstructionPartial")
                <textarea asp-for="Body" class="form-control tab get-preview"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="col-12 preview">
                <h4 style="text-align: center;">PREVIEW</h4>
                <div class="preview-container" style="border: solid 10px #F5F5F5; padding: 15px;">
                </div>
            </div>
            <div class="col-12 hidden">
                <input asp-for="CreatedDate" class="form-control" /> <input asp-for="LastModifiedDate" class="form-control" />
            </div>
    </div>
    <div class="row paddingTop15">
        <div class="col-md-4">
            @Html.ActionLink("Back to List", "Index", "Member", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-4 txtaligncenter">
            @Html.ActionLink("Test The Code", "CodeTester", "CodeEditor", null, new { @class = "btn btn-primary" })
        </div>
        <div class="form-group col-md-4 submit">
            <input type="submit" value="Post a blog" class="btn btn-primary submit" />
        </div>
    </div>
</form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}