@{
    Layout = "";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
@{
    ViewData["Title"] = "CODE Preview";
}

<h1 class="RUN_container"><input type="button" value="Run the code" class="RUN" /></h1>

