@model blog.ViewModels.RegisterCommentViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="banner-container">
    <h1 class="banner-text-container margin15 txtaligncenter"><span class="banner-text">Post a Comment</span></h1>
    <img src="~/images/comment.jpg" class="fullwidth" />
</div>

<form asp-action="Create">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 paddingTop15">
            <h4><pre>@Model.BlogTitle</pre></h4>
            <span asp-validation-for="BlogTitle" class="text-danger"></span>
        </div>

        <div class="col-12 marginBottom15 hidden">
            @Html.TextAreaFor(y => Model.BlogBody, new { @class = "fullwidth get-preview" })
        </div>

        <div class="col-12 preview">
            <div class="teaser preview-container">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12 paddingTop15">
            @await Html.PartialAsync("_CodeInstructionPartial")
            @Html.TextAreaFor(x => x.CommentBody, new { @class = "fullwidth tab minhgt300 get-preview" })
            <span asp-validation-for="CommentBody" class="text-danger"></span>
        </div>
        <div class="col-12 marginBottom15 preview">
            <h4 style="text-align: center;">PREVIEW</h4>
            <div class="padding15 preview-container" style="border: solid 10px #F5F5F5;">
            </div>
        </div>

        <div class="col-12">
            <input type="hidden" asp-for="BlogId" class="form-control" />
            <span asp-validation-for="BlogId" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </div>
        <div class="col-md-6 txtalignright">
            <input type="submit" value="Reply" class="btn btn-primary" />
        </div>
    </div>
</form>

