@model blog.ViewModels.RegisterCommentViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="banner-container">
    <h1 class="banner-text-container margin15 txtaligncenter"><span class="banner-text">Post a Comment</span></h1>
    <img src="~/images/comment.jpg" class="fullwidth" />
</div>

<form asp-action="Create">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 paddingTop15">
            <h4><pre>@Model.BlogTitle</pre></h4>
            <span asp-validation-for="BlogTitle" class="text-danger"></span>
        </div>

        <div class="col-12 form-group custom-highlighter">
            <label asp-for="@Model.BlogBody" class="control-label"></label>
            <pre><textarea asp-for="@Model.BlogBody" class="form-control tab included-snippets codeIndex"></textarea></pre>
            <span asp-validation-for="@Model.BlogBody" class="text-danger"></span>
            <div class="preview-container">

            </div>
        </div>
    </div>
    <div class="row">

        @await Html.PartialAsync("_CreateEditBodyPartial", ViewData["comment"])

        <div class="col-12">
            <input type="hidden" asp-for="BlogId" class="form-control" />
            <span asp-validation-for="BlogId" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </div>
        <div class="col-md-6 txtalignright">
            <input type="submit" value="Reply" class="btn btn-primary" />
        </div>
    </div>
</form>

