@model blog.Models.Comment

@{
    ViewData["Title"] = "Delete";
}


<div class="banner-container">
    <h1 class="banner-text-container margin15 txtaligncenter"><span class="banner-text">Detete a Comment</span></h1>
    <img src="~/images/delete.jpg" class="fullwidth" />
</div>
<h3 class="txtaligncenter padding15">Are you sure you want to delete this Comment?</h3>
<div class="row">
    <div class="col-12 hidden">
        @Html.TextAreaFor(x => x.Body, new { @class = "fullwidth get-preview" })
    </div>

    <div class="col-12 preview">
        <div class="teaser preview-container">
        </div>
    </div>
    <div class="col-12 padding15">
        @Model.LastModifiedDate
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="CommentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>