@model blog.Models.Comment

@{
    ViewData["Title"] = "Edit";
}

<div class="banner-container">
    <h1 class="banner-text-container margin15 txtaligncenter"><span class="banner-text">Comment Editor</span></h1>
    <img src="~/images/sunset.jpg" class="fullwidth" />
</div>
<form asp-action="Edit">
    <div class="row">
        <div class="col-12">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CommentId" />
            <div class="form-group">
                <input asp-for="LastModifiedDate" class="form-control" type="hidden" />
                <span asp-validation-for="LastModifiedDate" class="text-danger"></span>
            </div>

            @await Html.PartialAsync("_CreateEditBodyPartial", ViewData["comment"])}

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.ActionLink("Back to List", "Index", "Member", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-4 txtaligncenter">
            @Html.ActionLink("Test The Code", "CodeTester", "CodeEditor", null, new { @class = "btn btn-primary" })
        </div>
        <div class="form-group submit col-md-4">
            <input type="submit" value="SAVE" class="btn btn-primary submit" />
        </div>
    </div>
</form>