<div>
    <p class="codeEditorDescription txtaligncenter">
        It is always a good practice to share the codes that you have tested to ensure accuracy and help others assist you quickly.<br />
        This code tester is available for HTML, CSS, JavaScript and jQuery codes. <br />
        Place the jQuery code within the wrapper $(function () { <strong>jQuery code goes here!</strong> }); <br />
        Please report any issues <strong>@Html.ActionLink("HERE", "Create", "Contacts")</strong>
    </p>
</div>

<div class="row CodeTester">
    <div class="col-md-4">
        <h4 class="txtaligncenter">HTML</h4>
        <textarea class="html"></textarea>
    </div>
    <div class="col-md-4">
        <h4 class="txtaligncenter">CSS</h4>
        <textarea class="css"></textarea>
    </div>
    <div class="col-md-4">
        <h4 class="txtaligncenter">JavaScript</h4>
        <textarea class="javascript"></textarea>
    </div>
</div>
<div class="row Result">
    <div class="col-md-6">
        <h3 class="btn btn-primary margin15"><a style="background-color: inherit; color: inherit; font-weight: normal;" href="@ViewBag.Referer">BACK</a></h3>
    </div>

    <div class="col-md-6">
        <h3 class="RUN btn btn-primary">Run the code</h3>
    </div>
   
    <div class="col-12">
        <iframe id="Result" src="~/iframe/index"></iframe>
    </div>
</div>



