<input type="button" value="Instruction" class="instruction btn btn-primary" />
<div class="code-instruction">
        Type your code within a wrapper, the white spaces are preserved. There are two types of wrapper: <br />
        <ul>
            <li>
                <strong>&lt;inlinecode>CODE Here&lt;/inlinecode></strong>
                <p>
                    Use this inlinecode tag to code the inline codes. The code and the the rest of the text would be on the same line.
                </p>
            </li>
            
            <li>
               <strong>&lt;blockcode>CODE Here&lt;/blockcode></strong>
                <p>
                    Use this blockcode tag to code the block codes. The code would take the full line.
                </p>
            </li>
        </ul>
</div>