<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>aboudrame.com</title>
</head>
<body style="background-color: red;">
    <div class="row">
        <div class="col-12 padding0">
            <img class="img-about" src="{1}" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/bkg6.jpg" style="width: 80%; display: block; margin: auto;" />
        </div>
        <p>{0}</p>
        <div class="col-md-5">
            <div id="stage" style="padding: 0; height: 160px;">
                <div id="spinner" style="-webkit-transform-origin: 50% 0 0;">
                    <img style="-webkit-transform: rotateY(0deg) translateX(90px); padding: 0;" src="/images/bkg0.jpg" width="150" alt="">
                    <img style="-webkit-transform: rotateY(-72deg) translateX(90px); padding: 0;" src="/images/bkg1.jpg" width="150" alt="">
                    <img style="-webkit-transform: rotateY(-144deg) translateX(90px); padding: 0;" src="/images/bkg2.jpg" width="150" alt="">
                    <img style="-webkit-transform: rotateY(-216deg) translateX(90px); padding: 0;" src="/images/bkg3.jpg" width="150" alt="">
                    <img style="-webkit-transform: rotateY(-288deg) translateX(90px); padding: 0;" src="/images/bkg4.jpg" width="150" alt="">
                </div>
            </div>
            <p>
                I'm a professional web application developer with over 6 years of experience mainly focus on the front-end design, hand coding, mobile responsive design, debugging, web analytics tracking, creating and converting mockups into dynamic and responsive web pages.
            </p>
            <p>
                I have a long experience working with varieties of hand coding languages including HTML5, JavaScript, jQuery and CSS3 that make me very efficient. I maintain and troubleshoot web application and has good experience with cross-browsers compatibilities.
            </p>
            <p>
                I have turned diverses non-responsive websites into a fully mobile responsive website and has implemented and managed the dynamic content to tailor content to users needed. To improve user experience, I coded varieties of functionalities including the search and bookmark functionalities, turning pop ups into web pages, maintaining and debugging the web applications.
            </p>
            <p>
                To assist the decision makers, I have implemented the web tracking system in term of page views, clickthrough, .pdf files download, conversions and social media (Facebook, Twitter and LinkedIn) tracking using varieties of tools including google analytic, GTM and google ads manager.
            </p>
            <p>
                As an email marketing specialist, I have created dozens of responsive email templates using different email marketing platforms such as Lyris, Exact target (SalesForce) and HubSpot.
            </p>
        </div>
        <div class="col-md-4">
            <div>
                <img class="img-about-profile" style="max-width: 300px; width: 100%;" src="~/images/about-profile.png" />
            </div>
            <div class="row">
                <div class="col-12"><h3 style="text-align: center;">Full STACK APPLICARION DEVELOPER</h3></div>
                <div class="col-md-6" style="text-align: center;">
                    <h4><strong>Expertise</strong></h4>
                    <ul style="text-align: left;">
                        <li>Front-End Development</li>
                        <li>Back-End Development</li>
                        <li>Responsive Design</li>
                        <li>Dynamic Content</li>
                        <li>Hand Coding</li>
                        <li>Troubleshooting</li>
                    </ul>
                </div>
                <div class="col-md-6 tools" style="text-align: center; background-image: url('../images/bkg0.jpg'); background-position: center; background-clip: content-box">
                    <ul style="text-align: left; list-style: none;">
                        <li class="active">Html</li>
                        <li>CSS3</li>
                        <li>jQuery</li>
                        <li>SharePoint</li>
                        <li>.Net core MVC</li>
                        <li>ColdFusion</li>
                        <li>PHP</li>
                        <li>C#</li>
                        <li>JavaScript</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4 style="text-align: center;">
                        @Html.ActionLink("Contact", "Create", "Contacts")
                    </h4>
                </div>
                <div class="col-md-6">
                    <h4 style="text-align: center;">Report any issues here</h4>
                </div>
            </div>
        </div>

    </div>
</body>
</html>




