body {
    background-color: #f5f5f5;
}

.banner img {
    width: 100%;
}
.banner li {
    list-style: none; 
}

.banner ul {
    padding-left: 0;
    margin: 0;
}

.banner li {
    display: none;
}
.banner li.active {
    display: block;
}

.Banner_text {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left: 15px;
    right: 15px;
}

.Banner_text > span {
    background-color: #FFF;
    display: inline-block;
    font-size: 4rem;
    padding: 15px;
    border-radius: 10px;
}

.topics > .row {
    display: none; 
}

.home-main-content-area {
    border: solid;
}



.topics:hover > .row {
    display: flex;
    position: absolute;
    z-index: 1;
    background-color: #FFF;
    width: 100%;
    margin: 0;
}

.custom-ul {
    position: relative;
}

nav .container {
    background-color: #b3b3b3;
}

nav .container h3 {
    color: #3c6b92;
}

nav.navbar {
    background-color: rgba(0,0,0,0.5) !important;
}

.topics p:hover {
    background-color: #FFF;
    margin-bottom: 0;
    line-height: 2em;
    height: 2em;
    color: #3c6b92;
    font-weight: bold;
    margin-right: -15px;
    padding-left: 15px;
    border-radius: 10px 10px;

}

.topics p {
    margin-bottom: 0;
    line-height: 2em;
    min-height: 2em;
    padding-left: 15px;
    margin-right: -15px;
}

.topics .custom-column:hover {
    background-color: #b3b3b3;
}

.member-area {
    border: solid 2px #FFF;
    border-radius: 25px 0;
    background-color: #e1d8b9;
}

.banner-container {
    margin-bottom: 20px;
}

.posts {
    text-align: left;
    margin-top: 20px;
    padding: 15px;
    background-color: #FFF;
    border-radius: 25px 25px;
}

.posts .row {
   margin-right: 0;
} 

.posts .col-md-1 {
    padding: 0;
}

.single-blog {
    background-color: #FFF;
    padding: 15px;
}

.left-nav {
    background-color: #e1d8b9;
    box-shadow: 5px -5px;
    border-radius: 15px 15px;
}

.left-nav ul {
    list-style: none;
    text-align: left;
    font-weight: bold;
    padding: 15px;
}

.left-nav ul > li {
    margin-bottom: 10px;
}

.profile img {
    border-radius: 50%;
    display: none;
    max-width: 200px;
    width: 100%;
}
a {
    color: #0066c0;
}

.category-list {
    max-width: 200px;
}

.blog-home {
    background-color: #FFF;
    border-radius: 15px 15px 0 0;
}

.blog-title {
    padding: 15px;
}

.blog-update-line {
    padding: 15px;
    background-color: #FFF;
    margin-bottom: 15px;
}

.blog-home-banner img {
    width: 100%;
}

span.text-info {
    color: #0066c0 !important;
}
.codeeditor pre {
    overflow: inherit;
}

.codeeditor #HTML,
.codeeditor #CSS,
.codeeditor #JavaScript,
#Result {
    width: 100%;
}

pre {
    white-space:pre-wrap;
    word-break:break-word;
    overflow: visible;
    font-family: inherit;
}