body {
    background-color: #f5f5f5;
}

html {
    height: auto !important;
    padding-bottom: 60px !important;
}

pre {
    font-size: 1rem;
}

.banner img {
    width: 100%;
}
.banner li {
    list-style: none; 
}

.banner ul {
    padding-left: 0;
    margin: 0;
}

.banner li {
    display: none;
}
.banner li.active {
    display: block;
}

.Banner_text {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left: 15px;
    right: 15px;
}

.Banner_text > span {
    background-color: #FFF;
    display: inline-block;
    font-size: 4rem;
    padding: 15px;
    border-radius: 10px;
}

.navbar-nav > .nav-item > .sub-menu {
    display: none;
}

.home-main-content-area {
    background-color: antiquewhite;
}



.navbar-nav > .nav-item:hover > .sub-menu {
    display: flex;
    position: absolute;
    z-index: 3;
    background-color: #FFF;
    left: 0;
    right: 0;
}

.menu-container {
    position: relative;
}

nav .container {
    background-color: #b3b3b3;
}

nav .container h4 {
    color: #3c6b92;
}

nav.navbar {
    background-color: rgba(0,0,0,0.5) !important;
}

.navbar-nav > .nav-item p:hover {
    background-color: #FFF;
    margin-bottom: 0;
    line-height: 2em;
    height: 2em;
    color: #3c6b92;
    font-weight: bold;
    padding-left: 15px;
    border-radius: 10px 10px;
    margin-right: 0;
    padding-right: 15px;

}

.navbar-nav > .nav-item p {
    margin-bottom: 0;
    line-height: 2em;
    min-height: 2em;
    padding-left: 15px;
    margin-right: -15px;
}

.navbar-nav > .nav-item .custom-column:hover {
    background-color: #b3b3b3;
    padding-bottom: 15px;
}

.member-area {
    border: solid 2px #FFF;
    border-radius: 25px 0;
    background-color: #e1d8b9;
}

.banner-container {
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.posts {
    text-align: left;
    margin-top: 20px;
    padding: 15px;
    background-color: #FFF;
    border-radius: 25px 25px;
}

.posts .row {
   margin-right: 0;
} 

.posts .col-md-1 {
    padding: 0;
}

.single-blog {
    background-color: #FFF;
    padding: 15px;
}

.left-nav {
    box-shadow: 5px -5px;
    border-radius: 15px 15px;
}

.topic-title {
    text-align: center;
}

.topic-element {
    display: flex;
    align-items: center;
    min-height: 200px;
    margin-bottom: 60px;
    background-clip: content-box;
}

.bkg-img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: .2;
    background-repeat: no-repeat;
    background-position:center;
    margin: 10px;
}

.bkg-img:hover {
    opacity: 1;
}

.topic-element:hover > .topic-title {
    z-index: 1;
    background-color: azure;
    padding: 15px;
    border-radius: 10px;
}

a:hover {
    text-decoration: none;
}

.topic-round-head {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    background-position: center;
    transform: translateY(-50%);
    margin: 0 auto;
}

.topic-title {
    margin: auto;
}




.left-nav ul {
    list-style: none;
    text-align: left;
    font-weight: bold;
    padding: 15px;
}

.left-nav ul > li {
    margin-bottom: 10px;
}

.profile img {
    border-radius: 50%;
    display: none;
    max-width: 200px;
    width: 100%;
}
a {
    color: #0066c0;
}

.category-list {
    max-width: 200px;
}

.blog-home {
    background-color: #FFF;
    border-radius: 15px 15px 0 0;
}

.blog-title {
    padding: 15px;
}



.blog-home-banner img {
    width: 100%;
}

span.text-info {
    color: #0066c0 !important;
}
.keepspace {
    position: relative;
}

.HTML {
    background-color: #F5F5F5;
}

.CSS {
    background-color: #ebfdff;
}

.JavaScript {
    background-color: #f1eadf;
}

.HTML,
.CSS,
.JavaScript {
    margin-top: 15px;
    padding: 15px;
    width: 100%;
    min-height: 200px;
}

.blog-home {
    padding: 0 15px;
    margin-bottom: 15px;
}

.comment_block {
    background-color: floralwhite;
}

.comment_block:nth-child(2n+1) {
    border-bottom: solid 15px #f5f5f5;
}

.login-box-container > ul {
    display: none;
}


.banner-text-container {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.banner-text {
    display: inline-block;
    padding: 15px;
    background-color: #FFF;
}

.login-box-container:hover > ul {
    display: block;
    list-style: none;
    text-decoration: none;
    background-color: #fff;
    position: absolute;
    top: 100%;
    padding: 0;
}

.login-box-container:hover > ul > li {
    padding: 10px;
}

.login-box-container > ul > li:hover {
    background-color: #b3b3b3
}

.login-box-container {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    right: 90px;
    z-index: 1;
}

textarea#Body,
.codeeditor #HTML,
.codeeditor #CSS,
.codeeditor #JavaScript,
#Result {
    width: 100%;
    min-height: 300px;
    min-width: 200px;
}

.code-content,
.placeholder {
    font-size: 16px;
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
    overflow: visible;
    font-family: inherit;
    margin: 0;
}

.codeeditor > li:first-child:hover,
.codeeditor > li.active:first-child,
.codeeditor #HTML {
    background-color: antiquewhite;
    border-radius: 15px 15px 0 0;
}

.codeeditor > li:nth-child(2):hover,
.codeeditor > li.active:nth-child(2),
.codeeditor #CSS {
    background-color: azure;
    border-radius: 15px 15px 0 0;
}

.codeeditor > li:nth-child(3):hover,
.codeeditor > li.active:nth-child(3),
.codeeditor #JavaScript {
    background-color: lightgoldenrodyellow;
    border-radius: 15px 15px 0 0;
}

.codeeditor #Result {
    background-color: white;
}

.codeeditor {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.codeeditor textarea,
#Result {
    border-radius: 15px;
}

#Result {
    border: solid 15px whitesmoke;
}

    textarea {
        resize: both;
    }

li[class*="list"] {
    max-width:none;
    padding: 0;
}

.code-container .code-content {
    width: 100%;
    min-height: 200px;
}

.RUN {
    display: inline-block;
    margin: 15px;
}

.Result {text-align: center;}

.placeholder {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.placeholder.on {
    display: block;
}

.submit {
    text-align: right;
}

.logo {min-width: 60px;}

.code {
    background-color: #F5F5F5;
    padding: 15px 0;
    margin: 5px 10px;
    box-shadow: 10px 0 0 #F5F5F5, -10px 0 0 #F5F5F5;
}

.preview-container {
    line-height: 3.5;
}

.tab {
    white-space: pre-wrap;
}

.img-about {
    margin: auto;
    width: 100%;
}

.comment-container .blog {
    display: none;
}

.comment-container .blog.on {
    display: block;
}

.codeEditorDescription {
    padding: 15px;
    margin: 15px 0;
    background-color: #F5F5F5;
}

.img-about-profile {
    display: block;
    max-width: 500px;
    margin: auto;
}

.code-instruction {
    display: none;
}

.code-instruction.on {
    display: block;
}

.instruction {
    margin-left: calc(100% - 145px);
    margin-bottom: 15px;
}

.tools li {
    display: none;
}

.tools ul {
    margin: auto;
    padding: 0;
}

div.CodeMirror-scroll {
    max-height: none;
}

.container {
    background-color: #FFF;
}

.tools li.active {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #FFF;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.tools {
    display: flex;
    align-items: center;
    min-height: 160px;
}

/* 3D */

@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotateY(0deg);
    }

    to {
        -webkit-transform: rotateY(360deg);
    }
}

#stage {
    margin: 1em auto;
    -webkit-perspective: 900px;
    margin-bottom: 100px;
}

#spinner {
    
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 20s;
    -webkit-transform-style: preserve-3d;
}

    #spinner:hover {
        -webkit-animation-play-state: paused;
    }

    #spinner img {
        position: absolute;
        border: 1px solid #ccc;
        background: rgba(255,255,255,0.8);
        box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
    }
.wrapper {
   
}

.w1 {
    perspective: 1000px;
}

.w2 {
    perspective: 250px;
}

.wrapper h1 {
    text-align: center;
}



.cube {
    font-size: 4em;
    width: 2em;
    margin: .8em auto;
    min-height: 126px;
    font-weight: bold;
    -webkit-animation-name: cubeAnimation;
    -webkit-transform-style: preserve-3d;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;

    animation-name: cubeAnimation;
    transform-style: preserve-3d;
    animation-timing-function: linear;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes cubeAnimation {
    from {
        -webkit-transform: rotateY(0deg) rotateX(0deg);
        transform: rotateY(0deg) rotateX(0deg);
    }

    to {
        -webkit-transform: rotateY(360deg) rotateX(360deg);
        transform: rotateY(360deg) rotateX(360deg);
    }
}

.side {
    position: absolute;
    width: 2em;
    height: 2em;
    background-color: antiquewhite;
    opacity: .4;
    border: 1px solid rgba(0,0,0,.5);
    color: black;
    text-align: center;
    line-height: 2em;
}

.front {
    transform: translateZ(1em);
}

.top {
    transform: rotateX( 90deg) translateZ(1em);
}

.right {
    transform: rotateY( 90deg) translateZ(1em);
}

.left {
    transform: rotateY(-90deg) translateZ(1em);
}

.bottom {
    transform: rotateX(-90deg) translateZ(1em);
}

.back {
    transform: rotateY(-180deg) translateZ(1em);
}


div.CodeMirror {
    background-color: #1e1e1e;
    color: #FFF;
}

div.CodeMirror-cursor {
    border-left-color: #FFF;
}

div.cm-s-default .cm-atom {
    color: #00ced1;
}

/* END 3D */

.margin0 {margin: 0;}
.margin15 {margin: 15px;}
.marginTop15 {margin-top: 15px;}
.marginLeft15 {margin-left: 15px;}
.marginRight15 {margin-right: 15px;}
.marginBottom15 {margin-bottom: 15px;}
.marginTopBottom15 {margin: 15px 0;}

.padding0 {padding: 0;}
.padding15 {padding: 15px;}
.paddingTop15 {padding-top: 15px;}
.paddingLeft15 {padding-left: 15px;}
.paddingRight15 {padding-right: 15px;}
.paddingBottom15 {padding-bottom: 15px;}
.paddingTopBottom15 {padding: 15px 0;}

.txtaligncenter {text-align: center;}
.txtalignleft {text-align: left;}
.txtalignright {text-align: right;}

.fullwidth {width: 100%;}
.minhgt300 {min-height: 300px;}


.bkgfloralwhite {background-color: floralwhite;}
.bkglightgray {background-color: #f5f5f5;}
.bkgazure {background-color: azure;}

.hidden {
    display: none;
}


.bkglightblue:nth-child(2n+1) {
    background-color: #dce6f2;
    padding-top: 0;
    padding-bottom: 15px;
}


.noborder {
    border: 0;
}

@media only screen and (min-width: 577px) {

}

@media only screen and (max-width: 576px) {
    .container ul > li, 
    .container .logo {
        padding-left: 15px;
    }

}

@media only screen and (max-width: 800px) {
    .Banner_text > span {
        font-size: 2rem;
    }
}

@media (min-width: 700px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 800px) {
    .container {
        max-width: 740px;
    }
}

@media (min-width: 900px) {
    .container {
        max-width: 840px;
    }
}

@media (min-width: 1300px) {
    .container {
        max-width: 1240px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1340px;
    }
}

@media (min-width: 1500px) {
    .container {
        max-width: 1440px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1540px;
    }
}

@media (min-width: 1700px) {
    .container {
        max-width: 1640px;
    }
}